.body{
    background-image: url(/assets/img/fondo.jpg);
    height:38.1em; background-size:cover; width:auto;
    /* background-image:url('copied image address'); */
    background-position:100% 100%;
    /* background-attachment: fixed; */
}
.formulario{
    background: rgba(0, -0, -0, .5);
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.form-control{
    background: rgba(0, -0, -0, .3);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    color: white;
}
.form-control:focus{
    background: white;
    color: black;
}
.form-control::placeholder{
color: white;
}
.ingresar{
    background: tan;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    box-shadow: 0 0 30px rgba(0, -0, -0, 0.568);
    transition: 0.5s ease-in;
    color: white;
}
.ingresar:hover{
    color:black;
}
.crear{
    background: black;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    box-shadow: 0 0 30px rgba(0, -0, -0, 0.568);
    transition: 0.5s ease-in;
    color: white;
}
.crear:hover{
    color:tan;
}
.items{
    display: flex;
    justify-content: space-around;
}
.items button{
    width: 40px;
    height: 40px;
    background: tan;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.checkbox{
    display: flex;
    justify-content: space-around;
}